<div
  class="container min-vh-100 d-flex align-items-center flex-column justify-content-center"
>
  <div
    class="border border-secondary rounded p-4 d-flex flex-column col-12 col-md-6 mx-auto"
  >
    <div class="px-2 d-flex flex-column">
      <h2 class="text-center">Register</h2>
      <form class="d-flex flex-column h-100">
        <div class="form-group mb-3">
          <label for="username">Username:</label>
          <input
            [(ngModel)]="username"
            type="text"
            class="form-control border border-secondary border-1"
            id="username"
            name="username"
            required
          />
        </div>
        <div class="form-group mb-3">
          <label for="password">Password:</label>
          <input
            [(ngModel)]="password"
            type="password"
            class="form-control border border-secondary border-1"
            id="password"
            name="password"
            required
          />
        </div>
        <button
          (click)="onRegister()"
          class="btn btn-primary col-12"
          type="submit"
          [disabled]="isSubmitting"
        >
          <div
            *ngIf="isSubmitting"
            class="spinner-border spinner-border-sm"
            role="status"
          ></div>
          Register
        </button>
      </form>
    </div>
  </div>
  <div class="d-flex flex-column col-12 col-md-6 mx-auto">
    <p class="mt-2">Already registered? <a routerLink="/login">Login</a></p>
  </div>
</div>
