<div class="container">
  <div
    *ngIf="!hasLoaded"
    class="d-flex flex-column justify-content-center align-items-center w-100 mh-100"
    style="margin-top: -57px; height: calc(100vh - 57px); overflow: hidden"
  >
    <div class="spinner-border" role="status"></div>
  </div>
  <div *ngIf="hasLoaded">
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary mb-2" routerLink="/add-book">
        Add new book
      </button>
    </div>
    <p class="h6 text-start text-secondary my-2">Click title for more info.</p>
    <ul class="list-group">
      @for (book of books; track book) {
      <li class="list-group-item border-1 border-secondary-subtle mb-2">
        <div class="d-flex justify-content-between align-items-center">
          <div style="cursor: pointer">
            <span routerLink="/books/{{ book.id }}">
              <p class="h3">
                {{ book.title }}
              </p>
              <p class="h6">{{ book.author }}</p>
            </span>
          </div>
          <div class="d-flex align-items-center gap-2">
            <a routerLink="/books/{{ book.id }}/edit">
              <i
                class="fa-solid fa-pen-to-square fa-lg edit-icon"
                style="cursor: pointer"
              ></i>
            </a>
            <i
              (click)="deleteBook(book.id)"
              class="fa-solid fa-trash fa-lg remove-icon"
              style="cursor: pointer"
            ></i>
          </div>
        </div>
      </li>
      }
    </ul>
  </div>
</div>
