.heading {
  margin: 0 auto;
}
.color {
  color: black;
}

.quote-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  padding: 0.5rem 1.5rem;
  line-height: 0.5;
  margin: 0.5rem auto;
}

.no-bullet {
  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: black;
  }
  .alert {
    cursor: pointer;
  }

  .icon {
    z-index: 999 !important;
  }

  i {
    padding-left: 0.5rem;

    &:first-child {
      padding-left: 0;
    }
  }
}
