<form [formGroup]="newBookForm" (submit)="createNewBook()">
  <div
    class="border border-secondary-subtle rounded border-1 p-3 col-10 col-md-6 mx-auto"
  >
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        name="title"
        formControlName="title"
        id="title"
        type="text"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="author">Author:</label>
      <input
        formControlName="author"
        type="text"
        id="author"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="genre">Genre:</label>
      <input
        formControlName="genre"
        type="text"
        id="genre"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="publisher">Publisher:</label>
      <input
        formControlName="publisher"
        type="text"
        id="publisher"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="publishDate">Publish Date: <span>(yyyy-mm-dd)</span></label>
      <input
        formControlName="publishDate"
        type="text"
        id="publishDate"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        formControlName="description"
        id="description"
        rows="5"
        class="form-control"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="isbn">ISBN:</label>
      <input
        formControlName="isbn"
        type="text"
        id="isbn"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="language">Language:</label>
      <input
        formControlName="language"
        type="text"
        id="language"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="pages">Pages:</label>
      <input
        formControlName="pages"
        type="number"
        id="pages"
        class="form-control"
      />
    </div>
    <button
      class="btn btn-primary col-12"
      type="submit"
      [disabled]="isSubmitting"
    >
      <div
        *ngIf="isSubmitting"
        class="spinner-border spinner-border-sm"
        role="status"
      ></div>
      Add Book
    </button>
  </div>
</form>
